asgiref==3.12.1
dj-database-url==3.1.2
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==26.3
psycopg==3.3.5
psycopg-binary==3.3.5
ruff==0.16.6
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.3
